CMakeLists.txt.user
*.user
build/
*.autosave
/qt/.vs
qt/CMakePresets.json
/qt/.idea
/.vs
.idea/QtSettings.xml
/qt/.qoder
/qt/.qtcreator
/qt/build-ninja
/qt/.qtcreator/qtc-cmake-presets-aKfIPymu
/qt/.qtcreator/qtc-cmake-presets-aKfIPymu/windows-msvc-release/qtc-cmake-qmake-probe
/.idea
